
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800';

/*
*:hover {
    -fx-font-family: 'Open Sans';
    -fx-font-size: 15px;
}

#messageNickReceived, #messageNickSent, #messageTimeReceived, #messageTimeSent {
    -fx-font-weight: 700;
}

#messageNickReceived {
    -fx-font-family: 'Open Sans';
}

#messageNickReceived, #messageNickSent {
    -fx-font-size: 35px;
}
#messageTimeReceived, #messageTimeSent {
    -fx-font-size: 14px;
}

*/